---
title: Flatpak—the future of application distribution
description: Press
---

%section#about
  .container
    .row
      .col-lg-8.col-lg-offset-2
        %h1.section-heading.text-center 新闻资讯
        %hr.primary
        %p
          我们很乐意回答记者和技术作家的问题，也可以提供面试机会。
    .row
      .col-lg-8.col-lg-offset-2
        %h3 新闻稿
        .timeline.mediumgap
          .date 20 August 2018
          .description
            =link_to "Flatpak 1.0 正式发布, 迎接linux应用程序的黄金时代", "press/2018-08-20-flatpak-1.0.html"
          .date 21 June 2016
          .description
            =link_to "Flatpak —— 下一代Linux应用程序打包技术", "press/2016-06-21-flatpak-released.html"
    .row.largegap
      .col-lg-8.col-lg-offset-2
        %h3 图形和Logo
        %p
          Flatpak的logo采用Creative Commons Attribution 3.0授权。立即
          = succeed "." do
            =link_to "下载Logo", "/img/logo-press.png"
    .row
      .col-lg-8.col-lg-offset-2
        %h3 联系我们
        %p
          如果你想知道更多资讯或者想申请面试，请发邮件到
          = succeed "." do
            =link_to "press@flatpak.org", "mailto:press@flatpak.org"
